body {
    background-color: black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #A9A9A9;
};

main {
    min-height: 100hv;
    flex: 1 0 auto;
};

.container {
    margin: 0 auto;
    width:100%;
};

.footer-copyright {
    align-center;
};

.page-footer {
    min-height: 100px;
    max-height: 100px;
};

.start-image {
    height: 100px;
};







