body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: auto;

    } 

.p { 
    color: white;
    font-size: 18px;
}

.div {   
    background-color: #57acf1;
    width: 450px;
    border: 5px solid white;
    padding: 5px;
    margin: left;   
    }



.footer { 
    position: relative;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    border-top: 5px solid rgb(13, 231, 213);
    background: #57acf1;
    text-align: center;
    color: #777777;
    height:60px;
   
    }
.about {
    color: white;   
}

.pic-col {
background: white;
width: 1%;
height: 90%;
}